<a href="https://colab.research.google.com/github/Utpal-Mishra/Python-Verzeo-Project/blob/main/VerzeoMiniMLProject.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##MOUNT Drive

In [ ]:
from google.colab import drive
drive.mount('/content/drive/')

Drive already mounted at /content/drive/; to attempt to forcibly remount, call drive.mount("/content/drive/", force_remount=True).

##IMPORT Data

In [ ]:
import pandas as pd

path = '/content/drive/My Drive/Movies.xlsx'
data = pd.read_excel(path)
print(data.shape)
data.head()

(10866, 21)

       id    imdb_id  popularity  ...  release_year   budget_adj   revenue_adj
0  135397  tt0369610   32.985763  ...          2015  137999939.3  1.392446e+09
1   76341  tt1392190   28.419936  ...          2015  137999939.3  3.481613e+08
2  262500  tt2908446   13.112507  ...          2015  101199955.5  2.716190e+08
3  140607  tt2488496   11.173104  ...          2015  183999919.0  1.902723e+09
4  168259  tt2820852    9.335014  ...          2015  174799923.1  1.385749e+09

[5 rows x 21 columns]

###DATA Description

In [ ]:
data.describe

<bound method NDFrame.describe of            id    imdb_id  popularity  ...  release_year    budget_adj   revenue_adj
0      135397  tt0369610   32.985763  ...          2015  1.379999e+08  1.392446e+09
1       76341  tt1392190   28.419936  ...          2015  1.379999e+08  3.481613e+08
2      262500  tt2908446   13.112507  ...          2015  1.012000e+08  2.716190e+08
3      140607  tt2488496   11.173104  ...          2015  1.839999e+08  1.902723e+09
4      168259  tt2820852    9.335014  ...          2015  1.747999e+08  1.385749e+09
...       ...        ...         ...  ...           ...           ...           ...
10861      21  tt0060371    0.080598  ...          1966  0.000000e+00  0.000000e+00
10862   20379  tt0060472    0.065543  ...          1966  0.000000e+00  0.000000e+00
10863   39768  tt0060161    0.065141  ...          1966  0.000000e+00  0.000000e+00
10864   21449  tt0061177    0.064317  ...          1966  0.000000e+00  0.000000e+00
10865   22293  tt0060666    0.035919  ...          1966  1.276423e+05  0.000000e+00

[10866 rows x 21 columns]>

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10866 entries, 0 to 10865
Data columns (total 21 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    10866 non-null  int64
 1   imdb_id               10856 non-null  object
 2   popularity            10866 non-null  float64
 3   budget                10866 non-null  int64
 4   revenue               10866 non-null  int64
 5   original_title        10866 non-null  object
 6   cast                  10790 non-null  object
 7   homepage              2936 non-null   object
 8   director              10822 non-null  object
 9   tagline               8042 non-null   object
 10  keywords              9373 non-null   object
 11  overview              10862 non-null  object
 12  runtime               10866 non-null  int64
 13  genres                10843 non-null  object
 14  production_companies  9836 non-null   object
 15  release_date          10866 non-null  object
 16  vote_count            10866 non-null  int64
 17  vote_average          10866 non-null  float64
 18  release_year          10866 non-null  int64
 19  budget_adj            10866 non-null  float64
 20  revenue_adj           10866 non-null  float64
dtypes: float64(4), int64(6), object(11)
memory usage: 1.7+ MB

##Data PRE-PROCESSING

In [ ]:
data.popularity = data.popularity.apply(lambda x: round(x, 6))
data.vote_average = data.vote_average.apply(lambda x: round(x, 1))
data.budget_adj = data.budget_adj.apply(lambda x: round(x, 2))

In [ ]:
data.release_data = pd.to_datetime(data.release_date)
data.original_title = data.original_title.astype(str)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  """Entry point for launching an IPython kernel.

In [ ]:
data.isnull().sum()

id                         0
imdb_id                   10
popularity                 0
budget                     0
revenue                    0
original_title             0
cast                      76
homepage                7930
director                  44
tagline                 2824
keywords                1493
overview                   4
runtime                    0
genres                    23
production_companies    1030
release_date               0
vote_count                 0
vote_average               0
release_year               0
budget_adj                 0
revenue_adj                0
dtype: int64

> Since all the NULL Entries belongs to a unique categorical column, all of them are moved

In [ ]:
#data = data.drop()

data = data[data['homepage'].notna()]
data = data[data['tagline'].notna()]
data = data[data['keywords'].notna()]
data = data[data['production_companies'].notna()]
data = data[data['director'].notna()]
data = data[data['cast'].notna()]
print("RESHAPED Data Size :: ",data.shape)

RESHAPED Data Size ::  (1992, 21)

In [ ]:
data.isnull().sum()

id                      0
imdb_id                 0
popularity              0
budget                  0
revenue                 0
original_title          0
cast                    0
homepage                0
director                0
tagline                 0
keywords                0
overview                0
runtime                 0
genres                  0
production_companies    0
release_date            0
vote_count              0
vote_average            0
release_year            0
budget_adj              0
revenue_adj             0
dtype: int64

> Since budget of any movies cannot be Zero, all the rows containing such entries are dropped.

In [ ]:
data = data[data['budget'] != 0]
print("RESHAPED Data Size :: ",data.shape)

RESHAPED Data Size ::  (1446, 21)

In [ ]:
data = data[data['budget'] > 20000]
print("RESHAPED Data Size :: ", data.shape)
data.head(10)

RESHAPED Data Size ::  (1430, 21)

       id    imdb_id  popularity  ...  release_year    budget_adj   revenue_adj
0  135397  tt0369610   32.985763  ...          2015  1.379999e+08  1.392446e+09
1   76341  tt1392190   28.419936  ...          2015  1.379999e+08  3.481613e+08
2  262500  tt2908446   13.112507  ...          2015  1.012000e+08  2.716190e+08
3  140607  tt2488496   11.173104  ...          2015  1.839999e+08  1.902723e+09
4  168259  tt2820852    9.335014  ...          2015  1.747999e+08  1.385749e+09
5  281957  tt1663202    9.110700  ...          2015  1.241999e+08  4.903142e+08
6   87101  tt1340138    8.654359  ...          2015  1.425999e+08  4.053551e+08
7  286217  tt3659388    7.667400  ...          2015  9.935996e+07  5.477497e+08
8  211672  tt2293640    7.404165  ...          2015  6.807997e+07  1.064192e+09
9  150540  tt2096673    6.326804  ...          2015  1.609999e+08  7.854116e+08

[10 rows x 21 columns]

In [ ]:
data = data[data['revenue'] > 10000]
data = data.iloc[1:, :]
print("RESHAPED Data Size :: ",data.shape)
data.head(10)

RESHAPED Data Size ::  (1274, 21)

        id    imdb_id  popularity  ...  release_year    budget_adj   revenue_adj
1    76341  tt1392190   28.419936  ...          2015  1.379999e+08  3.481613e+08
2   262500  tt2908446   13.112507  ...          2015  1.012000e+08  2.716190e+08
3   140607  tt2488496   11.173104  ...          2015  1.839999e+08  1.902723e+09
4   168259  tt2820852    9.335014  ...          2015  1.747999e+08  1.385749e+09
5   281957  tt1663202    9.110700  ...          2015  1.241999e+08  4.903142e+08
6    87101  tt1340138    8.654359  ...          2015  1.425999e+08  4.053551e+08
7   286217  tt3659388    7.667400  ...          2015  9.935996e+07  5.477497e+08
8   211672  tt2293640    7.404165  ...          2015  6.807997e+07  1.064192e+09
9   150540  tt2096673    6.326804  ...          2015  1.609999e+08  7.854116e+08
10  206647  tt2379713    6.200282  ...          2015  2.253999e+08  8.102203e+08

[10 rows x 21 columns]

#QUESTIONS

##1) Which are the movies with the third lowest and third highest budget?

In [ ]:
"""data = data[data['budget'] > 20000]
print("RESHAPED Data Size :: ", data.shape)"""

'data = data[data[\'budget\'] > 20000]\nprint("RESHAPED Data Size :: ", data.shape)'

In [ ]:
Budget = data.sort_values(by = ['budget'])
#Budget.head(30)

>After SORTING the Data by Budget, it was found that all the "budget" values < 20000 are wrong entries thus, are removed. (Reference for budget comparision was made using GOOGLE)

> ### ANSWER

###THIRD LOWEST

In [ ]:
#list(Budget['budget'])[:10] #[25000, 27000, 30000, 30000, 45202, 50000, 60000, 60000, 65000, 100000]

In [ ]:
"The movie with third lowest budget :: {} :: is :: {}".format(list(Budget['budget'])[2], Budget['original_title'][2])

'The movie with third lowest budget :: 30000 :: is :: Insurgent'

###THIRD HIGHEST

In [ ]:
list(Budget['budget'])[-10:]

[250000000,
 250000000,
 255000000,
 258000000,
 260000000,
 260000000,
 280000000,
 300000000,
 380000000,
 425000000]

In [ ]:
"The movie with third highest budget :: {} :: is :: {}".format(list(Budget['budget'])[-3], list(Budget['original_title'])[-3])

"The movie with third highest budget :: 300000000 :: is :: Pirates of the Caribbean: At World's End"

##2) What is the average number of words in movie titles between the year 2000-2005?

In [ ]:
count = 0
for i in data[data.release_year.apply(lambda x: 2000<=x<=2005)].original_title:
  #print(i, len(i))
  count += len(i)

> ### ANSWER

In [ ]:
print("The average number of words in movie titles between the year 2000-2005 is {}".format(count/len(data[data.release_year.apply(lambda x: 2000<=x<=2005)])))

The average number of words in movie titles between the year 2000-2005 is 15.42134831460674

##3) What is the most common Genre for Vin Diesel & Emma Watson movies?

> ### Genre of Vin Diesel Movies

In [ ]:
Genre1 = {}
count = 0
for i in range(len(data)):
  try: 
    if (data.cast[i].find('Vin Diesel') != -1):
      for k in data.genres[i].split("|"):
        if k not in Genre1.keys():
          count+=1
          Genre1[k] = count
  except:
    continue

In [ ]:
import numpy as np

In [ ]:
#Genre1 = pd.DataFrame(Genre1, np.arange(len(Genre1)))
#Genre1 = Genre1.iloc[0,:]
#Genre1

In [ ]:
Genre1 = sorted(Genre1.items(), key = lambda kv:(kv[1], kv[0]))
Genre1

[('Action', 1),
 ('Crime', 2),
 ('Thriller', 3),
 ('Fantasy', 4),
 ('Adventure', 5),
 ('Science Fiction', 6),
 ('Drama', 7),
 ('Animation', 8),
 ('Family', 9),
 ('Comedy', 10)]

> ### Genre of Emma Watson Movies

In [ ]:
Genre2 = {}
count = 0
for i in range(len(data)):
  try: 
    if (data.cast[i].find('Emma Watson') != -1):
      for k in data.genres[i].split("|"):
        if k not in Genre2.keys():
          count+=1
          Genre2[k] = count
  except:
    continue

In [ ]:
#Genre2 = pd.DataFrame(Genre2, np.arange(len(Genre2)))
#Genre2 = Genre2.iloc[0,:]
#Genre2

In [ ]:
Genre2 = sorted(Genre2.items(), key = lambda kv:(kv[1], kv[0]))
Genre2

[('Horror', 1),
 ('Mystery', 2),
 ('Thriller', 3),
 ('Drama', 4),
 ('Adventure', 5),
 ('Fantasy', 6),
 ('Family', 7),
 ('Animation', 8),
 ('Comedy', 9),
 ('Romance', 10),
 ('Crime', 11)]

> ### ANSWER

In [ ]:
sorted(set(Genre1).intersection(set(Genre2)), key = lambda kv:(kv[1], kv[0]))[-1][0]

'Animation'

In [ ]:
print("The most common Genre for Vin Diesel & Emma Watson movies is :: {}".format(sorted(set(Genre1).intersection(set(Genre2)), key = lambda kv:(kv[1], kv[0]))[-1][0]))

The most common Genre for Vin Diesel & Emma Watson movies is :: Animation

##4) Which are the movies with most and least earned revenue?

In [ ]:
"""data = data[['revenue'] > 0]
data = data.iloc[1:, :]
data.shape"""

"data = data[['revenue'] > 0]\ndata = data.iloc[1:, :]\ndata.shape"

In [ ]:
Revenue = data.sort_values(by = ['revenue'])
print(Revenue.shape)
Revenue.head()

(10866, 21)

           id    imdb_id  popularity  ...  release_year    budget_adj revenue_adj
10865   22293  tt0060666    0.035919  ...          1966  1.276423e+05         0.0
4553   113594  tt2288005    0.495457  ...          2012  0.000000e+00         0.0
4552   101179  tt1838722    0.505292  ...          2012  0.000000e+00         0.0
4551   110160  tt1650048    0.516461  ...          2012  9.022571e+06         0.0
4549   119360  tt1801061    0.518686  ...          2012  0.000000e+00         0.0

[5 rows x 21 columns]

> ### ANSWER

###LOWEST REVENUE

In [ ]:
print("The movie with lowest revenue :: {} USD :: is :: {}".format(list(Revenue['revenue'])[0], list(Revenue['original_title'])[0]))

The movie with lowest revenue :: 0 USD :: is :: Manos: The Hands of Fate

###HIGHEST REVENUE

In [ ]:
print("The movie with highest revenue :: {} :: is :: {}".format(list(Revenue['revenue'])[-1], list(Revenue['original_title'])[-1]))

The movie with highest revenue :: 2781505847 :: is :: Avatar

##5) What is the average runtime of movies in the year 2006?

> ### ANSWER

In [ ]:
data[data.release_year.apply(lambda x: x==2006)].runtime.mean()

111.95588235294117

##6) Name any 3 production companies which have invested money in worse revenue movies?

> ### ANSWER

In [ ]:
print("The production companies with worst revenue :: {} :: is :: {}".format(list(Revenue['revenue'])[0], list(Revenue['production_companies'])[0]))
print("The production companies with worst revenue :: {} :: is :: {}".format(list(Revenue['revenue'])[1], list(Revenue['production_companies'])[1]))
print("The production companies with worst revenue :: " + str(list(Revenue['revenue'])[2]) + " is " + str(list(Revenue['production_companies'])[2].split('|')))

The production companies with worst revenue :: 15071 :: is :: WhiteFlame Productions
The production companies with worst revenue :: 18097 :: is :: Gato Negro Films
The production companies with worst revenue :: 30471 is ['Franchise Pictures', 'Brood Syndicate', 'B.D.S. Productions Inc.']