<a href="https://colab.research.google.com/github/Utpal-Mishra/Python-Verzeo-Project/blob/main/VerzeoAssignment2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
Diamonds = pd.read_csv('https://raw.githubusercontent.com/mwaskom/seaborn-data/master/diamonds.csv')
print("Diamond Dataset",Diamonds.shape,": \n")
print(Diamonds.head())

Diamond Dataset (53940, 10) :

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

#Problem 1
Write a Pandas program to sort a Series by its values and index of diamonds
DataFrame
#Answer

Since the SORT BY FEATURE wasn't specified, the attribute "PRICE" is taken

In [ ]:
print("\nSERIES SORT by VALUES:\n")
#Series.sort(axis=0, ascending=True, kind='quicksort', na_position='last', inplace=False)
#Series.sort_values(self, axis=0, ascending=True, inplace=False, kind='quicksort', na_position='last', ignore_index=False)
print(Diamonds.sort_values(by = ['price']))

SERIES SORT by VALUES:

       carat        cut color clarity  depth  table  price     x     y     z
0       0.23      Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1       0.21    Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2       0.23       Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3       0.29    Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4       0.31       Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75
...      ...        ...   ...     ...    ...    ...    ...   ...   ...   ...
27745   2.00  Very Good     H     SI1   62.8   57.0  18803  7.95  8.00  5.01
27746   2.07      Ideal     G     SI2   62.5   55.0  18804  8.20  8.13  5.11
27747   1.51      Ideal     G      IF   61.7   55.0  18806  7.37  7.41  4.56
27748   2.00  Very Good     G     SI1   63.5   56.0  18818  7.90  7.97  5.04
27749   2.29    Premium     I     VS2   60.8   60.0  18823  8.50  8.47  5.16

[53940 rows x 10 columns]

In [ ]:
print("\nDATAFRAME SORT by INDEX:\n")
#Diamonds.cut.value_counts().sort_values()
print(Diamonds.sort_index())

DATAFRAME SORT by INDEX:

       carat        cut color clarity  depth  table  price     x     y     z
0       0.23      Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1       0.21    Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2       0.23       Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3       0.29    Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4       0.31       Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75
...      ...        ...   ...     ...    ...    ...    ...   ...   ...   ...
53935   0.72      Ideal     D     SI1   60.8   57.0   2757  5.75  5.76  3.50
53936   0.72       Good     D     SI1   63.1   55.0   2757  5.69  5.75  3.61
53937   0.70  Very Good     D     SI1   62.8   60.0   2757  5.66  5.68  3.56
53938   0.86    Premium     H     SI2   61.0   58.0   2757  6.15  6.12  3.74
53939   0.75      Ideal     D     SI2   62.2   55.0   2757  5.83  5.87  3.64

[53940 rows x 10 columns]

#Problem 2
Write a Pandas program to calculate the multiply of length, width and depth for
each cut of diamonds DataFrame
#Answer

DIMENSIONS of Diamond

In [ ]:
print(Diamonds['x']*Diamonds['y']*Diamonds['z'].round(4))

0         38.202030
1         34.505856
2         38.076885
3         46.724580
4         51.917250
            ...
53935    115.920000
53936    118.110175
53937    114.449728
53938    140.766120
53939    124.568444
Length: 53940, dtype: float64

#Problem 3
Write a Pandas program to concatenate the diamonds DataFrame with the
'color' Series
#Answer

DataFrame = pd.concat(DataFrame, pd.DataFrame(Series))

*"color" attribute is already attached to the Diamonds Dataframe still the

In [ ]:
#Concat = pd.concat(Diamonds, pd.DataFrame(color))

#Problem 4
Write a Pandas program to read specified rows and all columns of diamonds
DataFrame
#Answer

In [ ]:
x = int(input("Enter a SPECIFIC ROW ::\t"))
print(Diamonds.iloc[x,:])

Enter a SPECIFIC ROW ::	3
carat         0.29
cut        Premium
color            I
clarity        VS2
depth         62.4
table           58
price          334
x              4.2
y             4.23
z             2.63
Name: 3, dtype: object

#Problem 5
Write a Pandas program to read rows 0, 5, 7 and all columns of diamonds
DataFrame
#Answer

In [ ]:
x = [int(x) for x in input("Enter ROWS ::\t").split(",")] 

print(Diamonds.iloc[x,:])

Enter ROWS ::	0, 5, 7
   carat        cut color clarity  depth  table  price     x     y     z
0   0.23      Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
5   0.24  Very Good     J    VVS2   62.8   57.0    336  3.94  3.96  2.48
7   0.26  Very Good     H     SI1   61.9   55.0    337  4.07  4.11  2.53

#Problem 6
Write a Pandas program to read rows 2 through 5 and all columns of diamonds
DataFrame
#Answer

In [ ]:
x = int(input("FROM ::\t"))
n = int(input("TO ::\t"))

print(Diamonds.iloc[x:n,:])

FROM ::	2
TO ::	5
   carat      cut color clarity  depth  table  price     x     y     z
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

#Problem 7
Write a Pandas program to read rows 0 through 2 (inclusive), columns 'color'
and 'price' of diamonds DataFrame
#Answer

In [ ]:
print("COLUMNS :: ", Diamonds.columns.values)

x = int(input("\nFROM ::\t"))
n = int(input("TO ::\t")) + 1
m = [str(i) for i in input("Enter ROWS ::\t").split(",")]

COLUMNS ::  ['carat' 'cut' 'color' 'clarity' 'depth' 'table' 'price' 'x' 'y' 'z']

FROM ::	0
TO ::	2
Enter ROWS ::	color,price

In [ ]:
Diamonds[m][x:n]

  color  price
0     E    326
1     E    326
2     E    327

#Problem 8
Write a Pandas program to read rows 0 through 2 (inclusive), columns 'color'
through 'price' (inclusive) of diamonds DataFrame
#Answer

In [ ]:
print("COLUMNS :: ", Diamonds.columns.values)

x = int(input("\nFROM ::\t"))
z = int(input("TO   ::\t")) + 1
m = Diamonds.columns.get_loc(input("\nSTARTING Column :: ").strip())
n = Diamonds.columns.get_loc(input("ENDING Column   :: ").strip()) + 1

COLUMNS ::  ['carat' 'cut' 'color' 'clarity' 'depth' 'table' 'price' 'x' 'y' 'z']

FROM ::	0
TO   ::	2

STARTING Column :: color
ENDING Column   :: price

In [ ]:
Diamonds.iloc[:,m:n]

      color clarity  depth  table  price
0         E     SI2   61.5   55.0    326
1         E     SI1   59.8   61.0    326
2         E     VS1   56.9   65.0    327
3         I     VS2   62.4   58.0    334
4         J     SI2   63.3   58.0    335
...     ...     ...    ...    ...    ...
53935     D     SI1   60.8   57.0   2757
53936     D     SI1   63.1   55.0   2757
53937     D     SI1   62.8   60.0   2757
53938     H     SI2   61.0   58.0   2757
53939     D     SI2   62.2   55.0   2757

[53940 rows x 5 columns]

#Problem 9
Write a Pandas program to read rows in which the 'cut' is 'Premium', column
'color' of diamonds DataFrame
#Answer

In [ ]:
print(Diamonds[Diamonds['cut'] == 'Premium']['cut'].value_counts())

Diamonds[Diamonds['cut'] == 'Premium'][['cut', 'color']]

Premium    13791
Name: cut, dtype: int64

           cut color
1      Premium     E
3      Premium     I
12     Premium     F
14     Premium     E
15     Premium     E
...        ...   ...
53928  Premium     E
53930  Premium     E
53931  Premium     F
53934  Premium     D
53938  Premium     H

[13791 rows x 2 columns]

#Problem 10
Write a Pandas program to read rows in positions 0 and 1, columns in positions 0
and 3 of diamonds DataFrame
#Answer

In [ ]:
print("COLUMNS :: ", Diamonds.columns.values)

x = int(input("\nSelct ROWS\nStart ::\t"))
z = int(input("End  ::\t"))
m = int(input("\nSelect COLUMNS\nStart :: "))
n = int(input("End   :: "))

COLUMNS ::  ['carat' 'cut' 'color' 'clarity' 'depth' 'table' 'price' 'x' 'y' 'z']

Selct ROWS
Start ::	0
End  ::	1

Select COLUMNS
Start :: 0
End   :: 3

In [ ]:
Diamonds.iloc[[x,z], [m,n]]

   carat clarity
0   0.23     SI2
1   0.21     SI1

#Problem 11
Write a Pandas program to read rows in positions 0 through 4, columns in
positions 1 through 4 of diamonds DataFrame
#Answer

In [ ]:
print("COLUMNS :: ", Diamonds.columns.values)

x = int(input("\nSelct ROWS\nStart :: "))
z = int(input("End   :: "))
m = int(input("\nSelect COLUMNS\nStart :: "))
n = int(input("End   :: "))

COLUMNS ::  ['carat' 'cut' 'color' 'clarity' 'depth' 'table' 'price' 'x' 'y' 'z']

Selct ROWS
Start :: 0
End   :: 4

Select COLUMNS
Start :: 1
End   :: 4

In [ ]:
Diamonds.iloc[x:z, m:n]

       cut color clarity
0    Ideal     E     SI2
1  Premium     E     SI1
2     Good     E     VS1
3  Premium     I     VS2

#Problem 12
Write a Pandas program to read rows in positions 0 through 4 (exclusive) and all
columns of diamonds DataFrame
#Answer

In [ ]:
print("COLUMNS :: ", Diamonds.columns.values)

x = int(input("\nSelct ROWS\nStart ::\t")) 
z = int(input("End  ::\t")) + 1

COLUMNS ::  ['carat' 'cut' 'color' 'clarity' 'depth' 'table' 'price' 'x' 'y' 'z']

Selct ROWS
Start ::	0
End  ::	4

In [ ]:
Diamonds.iloc[x:z, :]

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

#Problem 13
Write a Pandas program to read rows 2 through 5 (inclusive), columns in
positions 0 through 2 (exclusive) of diamonds DataFrame
#Answer

In [ ]:
print("COLUMNS :: ", Diamonds.columns.values)

x = int(input("\nSelct ROWS\nStart ::\t"))
z = int(input("End  ::\t")) + 1
m = int(input("\nSelect COLUMNS\nStart :: "))
n = int(input("End   :: "))

COLUMNS ::  ['carat' 'cut' 'color' 'clarity' 'depth' 'table' 'price' 'x' 'y' 'z']

Selct ROWS
Start ::	2
End  ::	5

Select COLUMNS
Start :: 0
End   :: 2

In [ ]:
Diamonds.iloc[x:z, m:n]

   carat        cut
2   0.23       Good
3   0.29    Premium
4   0.31       Good
5   0.24  Very Good

#Problem 14
Write a Pandas program to print a concise summary of diamonds DataFrame.
#Answer

In [ ]:
Diamonds.describe()

              carat         depth  ...             y             z
count  53940.000000  53940.000000  ...  53940.000000  53940.000000
mean       0.797940     61.749405  ...      5.734526      3.538734
std        0.474011      1.432621  ...      1.142135      0.705699
min        0.200000     43.000000  ...      0.000000      0.000000
25%        0.400000     61.000000  ...      4.720000      2.910000
50%        0.700000     61.800000  ...      5.710000      3.530000
75%        1.040000     62.500000  ...      6.540000      4.040000
max        5.010000     79.000000  ...     58.900000     31.800000

[8 rows x 7 columns]

In [ ]:
Diamonds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53940 entries, 0 to 53939
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   carat    53940 non-null  float64
 1   cut      53940 non-null  object
 2   color    53940 non-null  object
 3   clarity  53940 non-null  object
 4   depth    53940 non-null  float64
 5   table    53940 non-null  float64
 6   price    53940 non-null  int64
 7   x        53940 non-null  float64
 8   y        53940 non-null  float64
 9   z        53940 non-null  float64
dtypes: float64(6), int64(1), object(3)
memory usage: 4.1+ MB

#Problem 15
Write a Pandas program to get the true memory usage by diamonds DataFrame
#Answer

In [ ]:
Diamonds.memory_usage(index=True, deep=True)

Index          128
carat       431520
cut        3413674
color      3560040
clarity    3242590
depth       431520
table       431520
price       431520
x           431520
y           431520
z           431520
dtype: int64

In [ ]:
Diamonds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53940 entries, 0 to 53939
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   carat    53940 non-null  float64
 1   cut      53940 non-null  object
 2   color    53940 non-null  object
 3   clarity  53940 non-null  object
 4   depth    53940 non-null  float64
 5   table    53940 non-null  float64
 6   price    53940 non-null  int64
 7   x        53940 non-null  float64
 8   y        53940 non-null  float64
 9   z        53940 non-null  float64
dtypes: float64(6), int64(1), object(3)
memory usage: 4.1+ MB

#Problem 16
Write a Pandas program to calculate the memory usage for each Series (in
bytes) of diamonds DataFrame
#Answer

In [ ]:
for i in Diamonds.columns:
  print("SERIES :: ",i, " :: Memory Usage :: ",Diamonds[i].memory_usage())

SERIES ::  carat  :: Memory Usage ::  431648
SERIES ::  cut  :: Memory Usage ::  431648
SERIES ::  color  :: Memory Usage ::  431648
SERIES ::  clarity  :: Memory Usage ::  431648
SERIES ::  depth  :: Memory Usage ::  431648
SERIES ::  table  :: Memory Usage ::  431648
SERIES ::  price  :: Memory Usage ::  431648
SERIES ::  x  :: Memory Usage ::  431648
SERIES ::  y  :: Memory Usage ::  431648
SERIES ::  z  :: Memory Usage ::  431648

#Problem 17
Write a Pandas program to get randomly sample rows from diamonds
DataFrame
#Answer

In [ ]:
while(1):
  x = int(input("\nGET RANDOM SAMPLES\n\n \
                1. Get 1 RANDOM Sample\n \
                2. Get 3 RANDOM Sample\n \
                3. Get 5 RANDOM Sample\n \
                4. Get 7 RANDOM Sample\n \
                5. Get 10 RANDOM Sample\n \
                0. EXIT\nOption : "))

  if (x == 1):
    print(Diamonds.sample(1))
  elif (x == 2):
    print(Diamonds.sample(3))
  elif (x == 3):
    print(Diamonds.sample(5))
  elif (x == 4):
    print(Diamonds.sample(7))
  elif (x == 5):
    print(Diamonds.sample(10))
  elif (x == 0):
    break
  else:
    print("Invalid Option")

GET RANDOM SAMPLES

                 1. Get 1 RANDOM Sample
                 2. Get 3 RANDOM Sample
                 3. Get 5 RANDOM Sample
                 4. Get 7 RANDOM Sample
                 5. Get 10 RANDOM Sample
                 0. EXIT
Option : 1
       carat      cut color clarity  depth  table  price    x     y     z
12705   0.26  Premium     E    VVS1   61.7   59.0    599  4.1  4.14  2.54

GET RANDOM SAMPLES

                 1. Get 1 RANDOM Sample
                 2. Get 3 RANDOM Sample
                 3. Get 5 RANDOM Sample
                 4. Get 7 RANDOM Sample
                 5. Get 10 RANDOM Sample
                 0. EXIT
Option : 2
       carat      cut color clarity  depth  table  price     x     y     z
21693   0.34  Premium     I    VVS1   60.5   59.0    626  4.48  4.54  2.73
18914   1.00  Premium     G    VVS2   61.6   61.0   7762  6.38  6.35  3.92
45571   0.52    Ideal     E     VS2   62.2   56.0   1689  5.11  5.15  3.19

GET RANDOM SAMPLES

                 1. Get 1 RANDOM Sample
                 2. Get 3 RANDOM Sample
                 3. Get 5 RANDOM Sample
                 4. Get 7 RANDOM Sample
                 5. Get 10 RANDOM Sample
                 0. EXIT
Option : 3
       carat        cut color clarity  depth  table  price     x     y     z
41987   0.43    Premium     G    VVS1   60.3   58.0   1264  4.91  4.87  2.95
13164   1.24      Ideal     E     SI2   59.2   55.0   5444  7.05  7.03  4.17
5534    0.90  Very Good     F     SI1   61.7   60.0   3854  6.19  6.22  3.83
30431   0.32      Ideal     G    VVS2   62.1   57.0    730  4.40  4.42  2.74
31354   0.27      Ideal     F      IF   61.3   57.0    760  4.16  4.20  2.56

GET RANDOM SAMPLES

                 1. Get 1 RANDOM Sample
                 2. Get 3 RANDOM Sample
                 3. Get 5 RANDOM Sample
                 4. Get 7 RANDOM Sample
                 5. Get 10 RANDOM Sample
                 0. EXIT
Option : 4
       carat        cut color clarity  depth  table  price     x     y     z
43630   0.43    Premium     G      IF   61.4   59.0   1433  4.79  4.85  2.96
50781   0.52    Premium     E    VVS1   59.8   58.0   2302  5.27  5.24  3.14
2360    0.90      Ideal     J     VS1   62.5   55.0   3175  6.18  6.14  3.85
41711   0.53      Ideal     I     VS2   62.3   57.0   1243  5.15  5.18  3.22
17835   1.02      Ideal     G     VS1   61.3   56.0   7192  6.49  6.53  3.99
11658   1.07    Premium     H     SI1   62.2   57.0   5055  6.57  6.48  4.06
42004   0.51  Very Good     E     SI2   58.3   63.0   1265  5.21  5.26  3.05

GET RANDOM SAMPLES

                 1. Get 1 RANDOM Sample
                 2. Get 3 RANDOM Sample
                 3. Get 5 RANDOM Sample
                 4. Get 7 RANDOM Sample
                 5. Get 10 RANDOM Sample
                 0. EXIT
Option : 5
       carat        cut color clarity  depth  table  price     x     y     z
10046   0.31  Very Good     I     SI1   62.8   60.0    418  4.29  4.31  2.70
13881   1.31  Very Good     I     SI2   60.9   58.0   5652  7.03  7.07  4.29
28062   0.38      Ideal     E     SI1   59.4   61.0    660  4.72  4.74  2.81
18592   1.02  Very Good     F     VS1   62.4   58.0   7587  6.42  6.47  4.02
22294   1.70  Very Good     I     SI1   63.1   57.0  10341  7.51  7.46  4.72
44745   0.50      Ideal     E     VS1   62.2   56.0   1619  5.10  5.13  3.18
49110   0.52      Ideal     G    VVS1   60.7   55.0   2065  5.19  5.29  3.18
40876   0.42      Ideal     E    VVS1   61.8   56.0   1176  4.81  4.83  2.98
52675   0.88       Fair     I     VS2   57.4   67.0   2550  6.49  6.36  3.69
25919   2.05    Premium     J     VS1   60.1   58.0  15067  8.25  8.19  4.94

GET RANDOM SAMPLES

                 1. Get 1 RANDOM Sample
                 2. Get 3 RANDOM Sample
                 3. Get 5 RANDOM Sample
                 4. Get 7 RANDOM Sample
                 5. Get 10 RANDOM Sample
                 0. EXIT
Option : 0

#Problem 18
Write a Pandas program to get sample 75% of the diamonds DataFrame's rows
without replacement and store the remaining 25% of the rows in another
DataFrame.
#Answer

In [ ]:
L = [int(i) for i in input("Distribution [eg. 75:25 or 3:1]\nRatio : ").split(":")]
L

Distribution [eg. 75:25 or 3:1]
Ratio : 3:1

[3, 1]

In [ ]:
#PARTITIONING POINT:: int(Diamonds.shape[0]*(L[0]/sum(L)))

DF75 = Diamonds.iloc[:int(Diamonds.shape[0]*L[0]/sum(L)), :]
DF25 = Diamonds.iloc[int(Diamonds.shape[0]*L[0]/sum(L)):, :]

print("75% Diamonds Dataframe Size :: ", DF75.shape, "\n25% Diamonds Dataframe Size :: ", DF25.shape, 
      "\n \t    Total Data Size :: ",Diamonds.shape)

75% Diamonds Dataframe Size ::  (40455, 10)
25% Diamonds Dataframe Size ::  (13485, 10)
 	    Total Data Size ::  (53940, 10)

#Problem 19 : 
Write a Pandas program to read the diamonds DataFrame and detect duplicate color.
#Answer

In [ ]:
Diamonds['color'][Diamonds['color'].duplicated()]

1        E
2        E
5        J
6        I
8        E
        ..
53935    D
53936    D
53937    D
53938    H
53939    D
Name: color, Length: 53933, dtype: object

#Problem 20
Write a Pandas program to count the duplicate rows of diamonds DataFrame.
#Answer

In [ ]:
Diamonds.duplicated().sum()

146

#PRACTICE CODE

In [ ]:
"""print("COLUMNS :: ", Diamonds.columns.values)
while(1):
  x = int(input("Read a COLUME \n\n1. Number\n2. Name\n3. EXIT\nOption :: "))
  if (x == 1):
    x = int(input("\nEnter Column NUMBER to Analyze\nOption :: "))
    print(Diamonds.iloc[:,x])
  elif (x == 2):
    x = input("\nEnter Column NAME to Analyze\nOption :: ")
    print(Diamonds.loc[:, x])
  elif (x == 3):
    break
  else:
    print("\nInvalid Choice\n")"""